@font-face {
  font-family: 'HelveticaNeueLTStd';
  src: url("../fonts/helveticaneueltstd-bd-webfont.eot");
  src: url("../fonts/helveticaneueltstd-bd-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneueltstd-bd-webfont.woff") format("woff"), url("../fonts/helveticaneueltstd-bd-webfont.ttf") format("truetype"), url("../fonts/helveticaneueltstd-bd-webfont.svg#HelveticaNeueLTStd75Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd65Medium';
  src: url("../fonts/helveticaneueltstd-md-webfont.eot");
  src: url("../fonts/helveticaneueltstd-md-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneueltstd-md-webfont.woff") format("woff"), url("../fonts/helveticaneueltstd-md-webfont.ttf") format("truetype"), url("../fonts/helveticaneueltstd-md-webfont.svg#HelveticaNeueLTStd65Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd95Black';
  src: url("../fonts/helveticaneueltstd-blk-webfont.eot");
  src: url("../fonts/helveticaneueltstd-blk-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneueltstd-blk-webfont.woff") format("woff"), url("../fonts/helveticaneueltstd-blk-webfont.ttf") format("truetype"), url("../fonts/helveticaneueltstd-blk-webfont.svg#HelveticaNeueLTStd95Black") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd';
  src: url("../fonts/helveticaneueltstd-roman.eot");
  src: url("../fonts/helveticaneueltstd-roman.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneueltstd-roman.woff") format("woff"), url("../fonts/helveticaneueltstd-roman.ttf") format("truetype"), url("../fonts/helveticaneueltstd-roman.svg#helveticaneueltstd-roman") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url("../fonts/myriadpro-regular.eot");
  src: url("../fonts/myriadpro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadpro-regular.woff") format("woff"), url("../fonts/myriadpro-regular.ttf") format("truetype"), url("../fonts/myriadpro-regular.svg#MyriadProRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url("../fonts/myriadpro-boldsemiext.eot");
  src: url("../fonts/myriadpro-boldsemiext.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadpro-boldsemiext.woff") format("woff"), url("../fonts/myriadpro-boldsemiext.ttf") format("truetype"), url("../fonts/myriadpro-boldsemiext.svg#MyriadProBold") format("svg");
  font-weight: bold;
  font-style: normal;
}

/* --- Colors --- */
/* --- Layout --- */
/* line 17, ../sass/layout.scss */
.row {
  max-width: 80em;
  margin: 0 auto;
  position: relative;
  padding: 0 2em 0 2em;
}

/* line 24, ../sass/layout.scss */
.toolbox {
  float: right;
  background-color: #f7f7f7;
  padding: 0.75em 1.5em;
}

/* --- Defaults --- */
/* line 32, ../sass/layout.scss */
body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 13px;
  color: #555;
}

/* --- Header --- */
/* line 3, ../sass/_header.scss */
header {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cee7ff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top center, #cee7ff, #ffffff);
  background: -moz-linear-gradient(top center, #cee7ff, #ffffff);
  background: -o-linear-gradient(top center, #cee7ff, #ffffff);
  background: linear-gradient(top center, #cee7ff, #ffffff);
  padding-top: 1em;
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 2em;
  	/*
  	nav {
  		position: absolute;
  		bottom: 1px;
  		right: 20%;
  		display: inline-block;
  
  		li {
  			float: left;
  			display: inline-block;
  			margin-right: 0.5em;
  
  			a {
  				display: inline-block;
  				font-size: 13px;
  				color: #888;
  				text-decoration: none;
  				padding: 0 1em 0.5em 1em;
  				border-bottom: 2px solid #fff;
  
  				&.current {
  					font-weight: bold;
  					border-bottom: 2px solid $dark_yellow;
  				}
  
  				&:hover {
  					color: $std_blue;
  					border-bottom: 2px solid $std_blue;
  				}
  			}
  		}
  	}
  	*/
}
/* line 9, ../sass/_header.scss */
header h1 {
  font-family: MyriadPro;
  font-weight: bold;
  font-size: 2em;
  margin: 0.25em 0 0.75em;
  display: inline-block;
  color: #97cbff;
  line-height: 2em;
  background: transparent url(../img/latunyi_logo.png) no-repeat left top;
  background-size: contain;
  padding-left: 2.5em;
}

/* line 60, ../sass/_header.scss */
nav {
  position: absolute;
  bottom: -3px;
  right: 20%;
}
/* line 65, ../sass/_header.scss */
nav ul {
  position: relative;
  display: inline-table;
}
/* line 70, ../sass/_header.scss */
nav ul:after {
  content: "";
  clear: both;
  display: block;
}
/* line 77, ../sass/_header.scss */
nav ul ul {
  z-index: 100;
  display: none;
  position: absolute;
  top: 100%;
}
/* line 84, ../sass/_header.scss */
nav ul ul li {
  float: none;
  position: relative;
  margin-right: 0;
}
/* line 89, ../sass/_header.scss */
nav ul ul li a {
  border-bottom: none;
}
/* line 92, ../sass/_header.scss */
nav ul ul li a:hover {
  border-bottom: none;
  background-color: #ffffcc;
  font-weight: normal;
}
/* line 99, ../sass/_header.scss */
nav ul ul li:hover {
  background-color: #eef6ff;
}
/* line 105, ../sass/_header.scss */
nav ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}
/* line 112, ../sass/_header.scss */
nav ul li {
  float: left;
  margin-right: 0.5em;
  width: 150px;
}
/* line 117, ../sass/_header.scss */
nav ul li a {
  display: block;
  font-size: 1em;
  font-weight: normal;
  color: #777;
  text-decoration: none;
  padding: 0.5em 1em 0.5em 1em;
  border-bottom: 2px solid #fff;
}
/* line 126, ../sass/_header.scss */
nav ul li a.current {
  font-weight: bold;
  border-bottom: 2px solid #ffcc00;
}
/* line 131, ../sass/_header.scss */
nav ul li a:hover {
  color: #3399ff;
  border-bottom: 2px solid #3399ff;
}
/* line 138, ../sass/_header.scss */
nav ul li:hover > ul {
  display: block;
  border: 1px solid #eee;
  background-color: #fff;
  box-shadow: 2px 2px 4px #ccc;
}
/* line 145, ../sass/_header.scss */
nav ul li > ul {
  border: 1px solid #eee;
  background-color: #fff;
  box-shadow: 2px 2px 4px #ccc;
}
/* line 151, ../sass/_header.scss */
nav ul li:hover > a {
  color: #3399ff;
}

/* --- Content --- */
/* line 44, ../sass/layout.scss */
.main h1, .main h2, .main h3 {
  font-family: MyriadPro;
  color: #3399ff;
  margin-bottom: 1em;
  font-weight: bold;
}
/* line 51, ../sass/layout.scss */
.main h1 {
  font-size: 2.5em;
}
/* line 55, ../sass/layout.scss */
.main p {
  margin-bottom: 1em;
}
/* line 59, ../sass/layout.scss */
.main a {
  color: #3399ff;
  text-decoration: none;
}
/* line 63, ../sass/layout.scss */
.main a:hover {
  background-color: #ffffcc;
}

/* line 70, ../sass/layout.scss */
.fancybox-inner h2 {
  font-family: MyriadPro, HelveticaNeueLTStd;
  font-weight: bold;
  font-size: 1.75em;
  color: #3399ff;
  margin-bottom: 1em;
  padding: 20px 20px;
  background-color: #eee;
}

/* --- List --- */
/* line 84, ../sass/layout.scss */
.list thead td {
  border-bottom: 1px solid #ddd;
  background-color: #f7f7f7;
  color: #555;
}
/* line 90, ../sass/layout.scss */
.list td {
  padding: 0.5em 3em 0.5em 0.5em;
  vertical-align: top;
}
/* line 95, ../sass/layout.scss */
.list tr.even td {
  background-color: #eef6ff;
}
/* line 99, ../sass/layout.scss */
.list tbody tr:hover td {
  background-color: #ffffcc !important;
}

/* --- Form --- */
/* line 106, ../sass/layout.scss */
.form-container {
  padding: 0 20px 20px 20px;
}

/* line 112, ../sass/layout.scss */
.form td {
  padding: 0.25em 3em 0.75em 0;
}
/* line 116, ../sass/layout.scss */
.form td.form-label {
  vertical-align: top;
  padding-top: 0.25em;
}
/* line 121, ../sass/layout.scss */
.form .input {
  border: 1px solid #ccc;
  padding: 0.25em;
  line-height: 1.25em;
  width: 100%;
  color: #666;
}
/* line 129, ../sass/layout.scss */
.form .input:focus {
  background-color: #ffffcc;
}
/* line 133, ../sass/layout.scss */
.form .active-row td {
  background-color: #eee;
}
/* line 137, ../sass/layout.scss */
.form .error {
  padding-top: 0.5em;
}

/* line 142, ../sass/layout.scss */
.form-normal {
  width: 50%;
}
/* line 145, ../sass/layout.scss */
.form-normal .form-label {
  width: 30%;
}

/* line 159, ../sass/layout.scss */
input[type=submit] {
  margin-top: 1em;
}

/* line 163, ../sass/layout.scss */
.btn, .btn-primary {
  color: white;
  border: none;
}

/* line 169, ../sass/layout.scss */
.btn-primary {
  padding: 1em 3em 1em 3em;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eaf5ff), color-stop(100%, #d6eaff));
  background: -webkit-linear-gradient(top center, #eaf5ff, #d6eaff);
  background: -moz-linear-gradient(top center, #eaf5ff, #d6eaff);
  background: -o-linear-gradient(top center, #eaf5ff, #d6eaff);
  background: linear-gradient(top center, #eaf5ff, #d6eaff);
  border-right: 1px solid #97cbff;
  border-bottom: 1px solid #97cbff;
  border-left: 1px solid #D6EAFF;
  border-top: 1px solid #D6EAFF;
  color: #3399ff;
}
/* line 193, ../sass/layout.scss */
.btn-primary:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eaf5ff), color-stop(100%, #c4e1ff));
  background: -webkit-linear-gradient(top center, #eaf5ff, #c4e1ff);
  background: -moz-linear-gradient(top center, #eaf5ff, #c4e1ff);
  background: -o-linear-gradient(top center, #eaf5ff, #c4e1ff);
  background: linear-gradient(top center, #eaf5ff, #c4e1ff);
  border-right: 1px solid #78c6ff;
  border-bottom: 1px solid #78c6ff;
  border-left: 1px solid #D6EAFF;
  border-top: 1px solid #D6EAFF;
}
/* line 201, ../sass/layout.scss */
.btn-primary:active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c4e1ff), color-stop(100%, #eaf5ff));
  background: -webkit-linear-gradient(top center, #c4e1ff, #eaf5ff);
  background: -moz-linear-gradient(top center, #c4e1ff, #eaf5ff);
  background: -o-linear-gradient(top center, #c4e1ff, #eaf5ff);
  background: linear-gradient(top center, #c4e1ff, #eaf5ff);
  border-left: 1px solid #78c6ff;
  border-top: 1px solid #78c6ff;
  border-right: 1px solid #D6EAFF;
  border-bottom: 1px solid #D6EAFF;
}

/* --- Util --- */
/* line 212, ../sass/layout.scss */
.error {
  color: red;
  margin-bottom: 0.5em;
}

/* line 217, ../sass/layout.scss */
.hidden {
  display: none;
}
