body {
	font-family: Verdana;
	font-size: 13px;
}

.wrapper {
	width: 70%;
	margin: 0 auto;
}

header {
	background-color: #eee;
	padding: 1em;	
}

header h1 {
	font-size: 21px;
	font-weight: bold;
	color: #336699;
}

.main {
	padding: 1em;
	background-color: #fff;
}

.main h1 {
	font-size: 17px;
	font-weight: bold;
	color: #336699;
	margin-bottom: 1em;
}

p {
	margin-bottom: 1em;
}

a {
	color: #3366FF;
}

.error {
	color: red;
	margin-bottom: 0.5em;
}

/* --- Tables --- */

.list td,
.form td {
	padding: 0.5em 1.5em 0.5em 0.5em;
	border-bottom: 1px solid #ccc;
	vertical-align: top;
}

.list thead td {
	background-color: #CCE6FF;
	font-weight: bold;
}

/* --- Forms --- */

input[type=submit] {
	padding: 0.5em 1.5em 0.5em 1.5em;
}

