/* line 1, ../sass/style.scss */
body {
  font-family: Verdana;
  font-size: 13px;
}

/* line 6, ../sass/style.scss */
.wrapper {
  width: 60%;
  margin: 0 auto;
}

/* line 11, ../sass/style.scss */
.nav {
  float: right;
}

/* line 15, ../sass/style.scss */
header {
  background-color: #eee;
  padding: 1em;
}

/* line 20, ../sass/style.scss */
header h1 {
  font-size: 21px;
  font-weight: bold;
  color: #336699;
  margin-bottom: 0.5em;
}

/* line 27, ../sass/style.scss */
.main {
  padding: 1em;
  background-color: #fff;
}

/* line 32, ../sass/style.scss */
.main h1 {
  font-size: 17px;
  font-weight: bold;
  color: #336699;
  margin-bottom: 1em;
}

/* line 39, ../sass/style.scss */
p {
  margin-bottom: 1em;
}

/* line 43, ../sass/style.scss */
a {
  color: #3366FF;
}

/* line 47, ../sass/style.scss */
.error {
  color: red;
  margin-bottom: 0.5em;
}

/* --- Tables --- */
/* line 55, ../sass/style.scss */
.list td,
.form td {
  padding: 0.5em 1.5em 0.5em 0.5em;
  border-bottom: 1px solid #ccc;
  vertical-align: top;
}

/* line 61, ../sass/style.scss */
.list thead td {
  background-color: #CCE6FF;
  font-weight: bold;
}

/* --- Forms --- */
/* line 68, ../sass/style.scss */
.form-container {
  border: 2px solid #eee;
  padding: 1em;
  margin-bottom: 1em;
}

/* line 74, ../sass/style.scss */
input[type=submit] {
  padding: 0.5em 1.5em 0.5em 1.5em;
}

/* line 78, ../sass/style.scss */
.hidden {
  display: none;
}
